.choice-grid {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.choice-grid div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 32.5%; 
   margin-bottom: 20px;
   background-color: #f4f4f4;
   border: 1px solid #dcdcdc;
   box-sizing: border-box;
   padding: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.checked {
    background-color: #cfe3ff;
}

.unchecked {
    opacity: 0.6;
}

#Results {
    width: calc(100% - 40px);
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
}

#Results p {
    margin-top: 18px;
    margin-bottom: 18px;
}

button {
    text-align: center;
    background-color: #cecece;
    width: 100%;
    height: 50px;
}

button:hover {
    background-color: #e0e0e0;
}

.Deactive {
    display: none;
}

@media (max-width: 700px) {
    article {
        width: 95%;
    }

    header div span {
        background-color: white;
    }
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%; 
     }
}

